#chat-screen {
  background-color: #abc1d1;
  height: 1100vh;
}

#chat-screen .alt-header {
  background-color: #abc1d1;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
}

#chat-screen .status-bar {
  background-color: #abc1d1;
}

#chat-screen .alt-header__column:last-child img {
  margin-left: 10px;
}

@keyframes fadeIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__time-stamp {
  background-color: rgba(0, 0, 0, 15%);
  border-radius: 25px;
  color: white;
  font-size: 14px;
  font-weight: 300;
  padding: 9px 15px;
  margin-bottom: 25px;
  animation: fadeIn 0.8s linear;
}

@keyframes fadeIn-left {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  will-change: transform;
  animation: fadeIn-left 0.8s linear;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 6px;
}

.message__auther {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.8;
}

.message__bubble {
  background-color: white;
  font-size: 18px;
  color: #2b2b2b;
  border-radius: 13px;
  border-top-left-radius: 0;
  padding: 11px 13px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time {
  font-size: 14px;
  opacity: 0.8;
  margin: 0 5px;
}

@keyframes fadeIn-right {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.message-row--own {
  justify-content: flex-end;
  will-change: transform;
  animation: fadeIn-right 0.8s linear;
}

.message-row--own .message__bubble {
  border-radius: 15px;
  border-top-right-radius: 0;
  color: white;
  background-color: var(--orange);
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 8%;
}

.reply .reply__column:last-child {
  width: 92%;
  position: relative;
}

.reply input {
  height: 38px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0px 16px;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > img,
.reply__column:last-child > button {
  position: absolute;
}

.reply__column:last-child > img {
  right: 42px;
  top: 5px;
}

.reply__column:last-child > button {
  display: flex;
  background-color: var(--orange);
  border: none;
  width: 32px;
  height: 32px;
  right: 4px;
  top: 3px;
  border-radius: 50%;
}

.reply__column img {
  opacity: 0.5;
  cursor: pointer;
}

.reply__column:first-child img {
  height: 30px;
  width: 30px;
}

.reply__column:last-child > button > img {
  position: relative;
  opacity: 1;
  right: 1px;
  top: 6px;
}

@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .reply__column:last-child img,
.reply:focus-within .reply__column:last-child button {
  animation: fade-out 0.2s ease-in-out forwards;
}

.reply input:focus {
  width: 95vw;
  transform: translateX(-10.5%) translateY(-100px);
  box-shadow: 0 3px 8px 3px rgba(0, 0, 0, 10%);
}

.reply:focus-within {
  transform: translateY(80px);
}
