/*.menu {
  display: flex;
  justify-content: space-between;
}

.column {
  display: block;
  height: 80px;
}

.column:nth-child(odd) {
  background-color: ivory;
}

.column:nth-child(odd) {
  background-color: khaki;
}
*/

.recommended-friends {
  padding: 25px 0px;
  margin: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 14px;
  color: var(--sub-gray);
}

.recommended-friends span {
  display: block;
  margin: 110px 0px;
  text-align: center;
  color: var(--sub-gray);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  font-size: 14px;
  margin-bottom: 25px;
}

.open-chat__link {
  display: flex;
  align-items: center;
  color: var(--sub-gray);
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  color: var(--sub-gray);
}

.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.open-post__members img {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 5px;
}
.open-post__member-count {
  color: var(--sub-gray);
}

.open-post__members .divider {
  width: 2px;
  height: 14px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 20%);
}

.open-post__members-status {
  color: #eb6ab7;
}

.open-post__profile-img {
  border-radius: 10px;
  /* 이미지 중앙으로 */
  position: relative;
  /* 이미지 크롭 */
  display: block;
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.open-post__profile-img img {
  /* 이미지 크롭 */
  display: block;
  height: 120px;
  min-width: 120px;
  min-height: 120px;
  /* 이미지 중앙으로 */
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 80%);
  color: white;
  padding: 4px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
}

.open-post__heart-count img {
  width: 16px;
  height: 16px;
  margin-right: 2px;
}

.open-post__column:last-child {
  position: relative;
}
