#friends-display-link {
  display: block;
  background-color: #f9fafb;
  text-align: center;
  align-items: center;
  padding: 12px 0px;
  font-size: 18px;
  margin-top: -10px;
  margin-bottom: 20px;
}

#friends-display-link img {
  width: 24px;
  height: 24px;
  vertical-align: text-bottom;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding: 15px 0px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 50%);
}
