#friends-display-link {
  display: block;
  background-color: #f9fafb;
  text-align: center;
  align-items: center;
  padding: 12px 0px;
  font-size: 18px;
  margin-bottom: 10px;
}

#friends-display-link svg {
  width: 24px;
  height: 24px;
  stroke: rgb(0, 0, 0, 30%);
  vertical-align: text-bottom;
}

.friends-screen {
  padding: 0px, var(--horizontal-space);
}
