.welcome-header {
  margin: 100px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 32px;
  font-size: 25px;
  font-weight: 500;
}

.welcome-header__text {
  font-weight: 300;
  width: 50%;
  opacity: 0.7;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-form input {
  padding: 15px 0px;
  margin-bottom: 25px;
  width: 420px;
  box-sizing: border-box;
  border: none;
  font-size: 18px;
}

/* 아이디 비밀번호 입력 */
#login-form input:not([type='submit']) {
  border: none;
  border-bottom: 1px solid #cbcbcb;
  padding: 15px 15px;
  margin-bottom: 25px;
  font-size: 18px;
  transition: border-bottom 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  font-weight: 400;
  color: #cbcbcb;
}

#login-form input:focus {
  border-bottom: 2px solid var(--orange);
  background-color: #f5f5f5;
}
/* 아이디 비밀번호 입력 */

/* 로그인 버튼 */
#login-form input[type='submit'] {
  border-radius: 8px;
  padding: 15px 0px;
  background-color: var(--orange);
  cursor: pointer;
  color: white;
}

#login-form input[type='submit']:hover {
  background-color: #d87f00;
  transition: background-color 0.3s ease-in-out;
}
/* 로그인 버튼 */

/* 계정 찾기 */
#login-form p {
  width: 420px;
  color: #969696;
  font-size: 14px;
  text-align: right;
}

#login-form a {
  text-decoration: none;
  color: var(--orange);
}
/* 계정 찾기 */

/* 비밀번호 placeholder 일정하게*/
@font-face {
  font-family: 'pass';
  font-style: normal;
  font-weight: 400;
}

#login-form input[type='password'] {
  font-family: 'pass', 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 18px;
}

#login-form input::-webkit-input-placeholder {
  transform: scale(0.77);
  transform-origin: 0 50%;
}
#login-form input::-moz-placeholder {
  font-size: 14px;
  opacity: 1;
}
#login-form input::-ms-input-placeholder {
  font-size: 14px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
