.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px var(--horizontal-space) 20px;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 500;
}

.screen-header__icons span {
  margin-left: 16px;
}

.screen-header__icons-setting {
  position: relative;
}

.screen-header__icons img {
  width: 28px;
  height: 28px;
}

.screen-header-dot {
  background-color: tomato;
  display: flex;
  width: 6px;
  height: 6px;
  border-radius: 4px;
  position: absolute;
  bottom: 28px;
  left: 10px;
}

@keyframes rotateCog {
  form {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .icon-cog:hover {
  animation: rotateCog 3s linear infinite;
  cursor: pointer;
}
