.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 500;
  font-size: 22px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: var(--sub-gray);
  display: flex;
  align-items: center;
}

.user-component__subtitle img {
  margin-left: 2px;
  margin-top: 2px;
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__channel {
  display: flex;
  align-items: center;
  color: var(--sub-gray);
}

.user-component__channel img {
  padding-top: 2px;
  width: 20px;
  height: 20px;
}

.user-component__column:last-child {
  color: var(--sub-gray);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  display: block;
  margin-bottom: 10px;
}
